/* Default browser style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Variables */
:root {
  --bg-dark: #252422;
  --bg-light: #403d39;
  --text-main: #fffcf2;
  --text-secondary: #ccc5b9;
  --accent: #eb5e28;
}

/*  Body styling such as fonts and background color.
    Used Georgia for a professional look. */
body {
  font-family: Georgia, serif;
  background-color: var(--bg-dark);
  color: var(--text-main);
  line-height: 1.6;
  padding: 20px;
}

/* Divider */
hr {
  margin: 20px 0;
  border: 1px solid var(--bg-light);
}

/* Styling the Header with basic properties.  */
header {
    text-align: center;
    background-color: var(--bg-light);
    padding: 30px;
    border-radius: 8px;
}

/* Added circular border to the header image. */
header img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 15px 0;
    border: 3px solid var(--accent);
}

/* The h2 level heading beneath the name. */
header h2 {
    color: #eb5e28;
}